<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkIT</title>
    <link rel="stylesheet" href="../style_global/style.scss">
    <link rel="shortcut icon" href="../assets/images/icon.png" type="image/png">
</head>

<body class="page-searching-applicants">
    <div class="wrapper-empl d-flex">
        <nav class="sidebar-empl">
            <div class="sidebar-empl__wrapper sticky-top">
                <div class="sidebar-empl__header">
                    <h3 class="py-4">Menu</h3>
                </div>
                <ul class=" sidebar-empl__list list-unstyled components flex-md justify-content-md-center">
                    <li>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal_create-resume">
                            <i class="bi bi-pencil-square pe-2"></i><span class="sidebar-empl__item"> Create a
                                resume</span></a>
                    </li>
                    <li>
                        <a href="./en-homepage.html"><i class="bi bi-house-door pe-2"></i><span
                                class="sidebar-empl__item">Home</span></a>
                    </li>
                    <li>
                        <a href="./news.html"><i class="bi bi-newspaper pe-2"></i><span
                                class="sidebar-empl__item">Blog</span></a>
                    </li>
                    <li>
                        <a href="./about.html"><i class="bi bi-person pe-2"></i> <span class="sidebar-empl__item">
                                About Us</span></a>
                    </li>
                    <li>
                        <a href="./contacts.html"><i class="bi bi-envelope pe-2"></i> <span
                                class="sidebar-empl__item">Contacts</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="modal fade" id="modal_create-resume" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="modal_create-resumeLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>
                            <img class="nav__logo-img" src="../assets/images/logo.png" alt="logo">
                            <p class="subtitle__apllsearch">YOUR FIRST JOB IN THE IT WORLD</p>
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row form-reg m-4">
                            <div class="col-md-12">
                                <p class="header__second">Upload your resume so employers could easily
                                    find you</p>
                                <div class="input-group">
                                    <input type="file" class="form-control" id="applicant-resume"
                                        aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                                    <button class="btn btn-outline-secondary btn-send-resume" type="button"
                                        id="inputGroupFileAddon04">Upload your resume</button>
                                </div>
                                <div class="mt-4">
                                    <p class="header__second">or</p>
                                    <a href="../views/en_create_resume.html" class="btn btn-primary"
                                        id="create-resume">Create a resume</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="content-appl">
            <nav class="navbar-empl create-resume__navbar navbar-expand-lg navbar-light bg-light d-flex ">
                <div class="navbar-create-resume">
                    <img class="nav__logo-img" src="../assets/images/logo.png" alt="logo">
                    <div class="create-resume_header-content">
                        <h3 class="header__second pt-3">Applicants</h3>
                        <p class="header__subtitle create-resume__subtitle">YOUR FIRST JOB IN THE IT WORLD</p>
                    </div>
                </div>
            </nav>
            <div class="row m-1 p-1">
                <div class="col-12 d-flex justify-content-start">
                </div>
            </div>
            <div class="container searching">
                <div class="searching__form searching__form-applicants">
                    <div class="card w-100 mt-1 p-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Searching" id="inputSearchvacancy">
                            <div class="input-group-append"><button
                                    class="btn btn-primary btn__search btn__search-employermain"
                                    id="btnSearchvacancy"><i class="class=bi bi-search bi_employer"></i></button></div>
                        </div>
                        <div class="pt-3 w-100 searching__result">
                            <div id="cards-vacancy">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="filter-mobile" id="btnappfilter1">Фильтр</div>
                    <div class="row searching__filters searching__filters_shadow mt-1 filter-desktop">
                        <div class="filter">
                            <div class="filter-content">
                                <div class="filter__card">
                                    <div class="filter-vacancy__title">City</div>
                                    <input type="text" name="city" id="city" placeholder="City" list="cities">
                                    <datalist id="cities">

                                    </datalist>

                                </div>
                                <div class=" filter__card">
                                    <div class="filter-vacancy__title">Level</div>
                                    <div><input class="filter__card-input form-check-input level" id="junior"
                                            value="junior" type="radio" name="level" />
                                        <label class="filter__card-label" for="junior">Junior</label></div>
                                    <div><input class="filter__card-input form-check-input level" id="middle"
                                            value="middle" type="radio" name="level" />
                                        <label class="filter__card-label" for="middle">Middle</label></div>
                                    <div><input class="filter__card-input form-check-input level" id="senior"
                                            value="senior" type="radio" name="level" />
                                        <label class="filter__card-label" for="senior">Senior</label></div>
                                </div>

                                <div class="filter__card">
                                    <div class="filter-vacancy__title">Work experience</div>
                                    <div><input class="filter__card-input form-check-input experience" type="radio"
                                            name="experience" value="zero" id="zero" />
                                        <label class="filter__card-label " for="zero">Less than a year</label></div>
                                    <div><input class="filter__card-input form-check-input experience" type="radio"
                                            name="experience" value="small" id="small" />
                                        <label class=" filter__card-label " for=" small">1-3 years</label></div>
                                    <div><input class="filter__card-input form-check-input experience" type="radio"
                                            name="experience" value="medium" id="medium" />
                                        <label class="filter__card-label " for="medium">3-6 years</label></div>
                                    <div><input class="filter__card-input form-check-input experience" type="radio"
                                            name="experience" value="large" id="large" />
                                        <label class="filter__card-label " name="large">Over 6 year</label></div>
                                </div>

                                <div class="filter__card">
                                    <div class="filter-vacancy__title">Salary rate $</div>
                                    <div class="filter__card-salary">
                                        <input class="filter-vacancy__input-salary" type="number" placeholder="From"
                                            id="minSalary" />
                                        <input class="filter-vacancy__input-salary" type="number" placeholder="To"
                                            id="maxSalary" />
                                    </div>
                                </div>
                                <div class="filter__card">
                                    <div class="filter-vacancy__title">Work format</div>
                                    <div><input class="filter__card-input form-check-input format" id="distant"
                                            value="distant" type="checkbox" />
                                        <label class="filter__card-label">Remote</label></div>
                                    <div><input class="filter__card-input form-check-input format" id="office"
                                            value="office" type="checkbox" />
                                        <label class="filter__card-label">In-office</label></div>
                                    <div><input class="filter__card-input form-check-input format" id="hybrid"
                                            value="hybrid" type="checkbox" />
                                        <label class="filter__card-label">Hybrid</label></div>
                                </div>
                                <div class="filter-vacancy__btns">
                                    <div class="filter-vacancy__change" id="btnFilter">Apply</div>
                                    <div class="filter-vacancy__throwoff" id="btnReboot">Reset</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-light text-center text-lg-start">
                <div class="container p-4">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                            <h5 class="text-uppercase">Footer text</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                                molestias.
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                            <h5 class="text-uppercase">Footer text</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                                molestias.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2020 Copyright:
                    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
                </div>
            </footer>
        </div>
    </div>
    <script type="module" src="../js/en-vacancy-search.js"></script>

</body>

</html>